// Place all the styles related to the Emergencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1 {
    color: indianred;
}

/*.seven-col-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: left;
    grid-gap: 10px;
}*/

.emergency-card {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid indianred;
    border-radius: 3px;
    padding: 10px;
}

.field-name {
    color: white;
    background-color: indianred;
    padding: 3px;
    border-radius: 3px;
}

.em {
    padding: 10px;
}

#fname {
    grid-column: 1 / 2;
}

#lname {
    grid-column: 2 / 3;
}

#location {
    grid-column: 3 / 4
;
}

#num-adults {
    grid-column: 4 / 5;
}

#num-children {
    grid-column: 5 / 6;
}

#num-pets {
    grid-column: 6 / 7;
}

#notes {
    grid-column: 7 / 8;
}
