// Place all the styles related to the Emergencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1 {
    color: indianred;
}

.blurb {
    font-size: 0.75em;
}

.relief-num {
    color: #04B45F;
}


.emergency-card {
    border: 3px solid indianred;
    border-radius: 3px;
    padding: 10px;
}

.field-name {
    color: white;
    background-color: indianred;
    padding: 3px;
    border-radius: 3px;
}

.em {
    padding: 10px;
}

